apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9090"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: auth-service
          image: task-flow/auth-service
          imagePullPolicy: Never
          ports:
            - containerPort: 50051
              name: grpc
            - containerPort: 9090
              name: metrics
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          env:
            - name: AUTH_GRPC_ADDR
              value: ":50051"
            - name: AUTH_ACCESS_TOKEN_TTL
              value: "1h"
            - name: AUTH_REFRESH_TOKEN_TTL
              value: "720h"
            - name: ENVIRONMENT
              value: "development"
            - name: JAEGER_ENDPOINT
              value: "http://jaeger:14268/api/traces"
            - name: USER_SERVICE_ADDR
              value: "user-service:50052"
            - name: AUTH_DB_HOST
              value: auth-db
            - name: AUTH_DB_PORT
              value: "5432"
            - name: AUTH_DB_USER
              valueFrom:
                secretKeyRef:
                  name: auth-db-secret
                  key: POSTGRES_USER
            - name: AUTH_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: auth-db-secret
                  key: POSTGRES_PASSWORD
            - name: AUTH_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: auth-db-secret
                  key: POSTGRES_DB
          readinessProbe:
            tcpSocket:
              port: 50051
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 50051
            initialDelaySeconds: 10
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-service
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
