apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: task-flow/user-service
          imagePullPolicy: Never
          ports:
            - containerPort: 50052
          env:
            - name: USER_GRPC_ADDR
              value: ":50052"
            - name: ENVIRONMENT
              value: "development"
            - name: JAEGER_ENDPOINT
              value: "http://jaeger:14268/api/traces"
          readinessProbe:
            tcpSocket:
              port: 50052
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 50052
            initialDelaySeconds: 10
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
spec:
  selector:
    app: user-service
  ports:
    - name: grpc
      port: 50052
      targetPort: 50052
